@font-face {
	font-family: terminus;
	src: url('../terminus.ttf');
}

* {
	font-family: terminus;
}

.article * {
	font-family: "Noto Serif", serif;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}
