@font-face {
    font-family: silly_guy;
    src: url('../assets/fonts/ambitsek.ttf');
}

body {
    margin: 0;
    box-sizing: border-box;
    background: url("../assets/stars3.gif");
}

html {
    cursor: url('../assets/cursor.cur'), auto !important;
}

.pgp {
    font-size: 18px;
    font-family: silly_guy;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    color: white;
}

.box {
    background-color: rgba(128, 0, 128, 0.274);
    padding: 15px;
    margin-top: 10px;
    width: 70%;
    border: 1px solid pink;
    font-family: silly_guy;
    font-size: 0.7rem;
}

.header {
    font-size: 0.7rem;
    text-shadow: 2px 2px 1px pink;
}

.hrt-date {
    background-image: url('../assets/trans.png');
    background-repeat: repeat-x;
    background-position-y: 5px;
    color: black;
    padding: 1px;
    text-shadow: none;
}

.a-bit-bigger {
    font-size: 0.8rem;
}

.row {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.row h1 {
    margin-right: 10px;
}

.row a {
    margin-left: 10px;
}

.image-break {
    background-image: url('../assets/heart_143.gif');
    width: 100%;
    height: 18px;
}

.trans-break {
    background-image: url('../assets/trans.png');
    width: 100%;
    height: 10px;
}

.box p {
    text-shadow: 01px 1px 1px black;
}

#mew {
    position: absolute;
    bottom: 0px;
}

.heading {
    background-color: transparent;
}

.main {
    width: 72%;
    display: flex;
    gap: 15px;
}

.main .box {
    height: 500px;
}

.navigation ul {
    padding-left: 10px;
}

.navigation {
    width: 20%;
}

.footer {
    text-align: center;
}

.centered {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stuff {
    overflow-y: auto;
    width: 80%;
    background-image: url('/assets/pplstar.gif');
}

.my-button {
    padding: 5px;
    gap: 5px;
}

.cass {
    border: 2px solid pink;
    height: 250px;
}

.key {
    color: pink;
}

a {
    cursor: url('../assets/link.cur'), auto;
    color: white;
}

.me-images {
    display: flex;
    gap: 10px;
}