@font-face {
    font-family: terminus;
    src: url('../terminus.ttf');
}

* {
	font-family: 'terminus', monospace;
	color: #EEE;
}

body {
	padding: 10px;
	background-color: #050515;
}

pre {
	font-family: 'Roboto', sans-serif;
	font-size: 4px;
}

h1 {
background: -webkit-linear-gradient(180deg,rgba(91, 206, 250, 1) 0%, rgba(245, 169, 184, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(245, 169, 184, 1) 75%, rgba(91, 206, 250, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
	width: 15%;
}

p {
	text-align: justify;
}

@media screen and (min-width: 500px) {
	p {
		width: 70%;
	}
}
